
mat-grid-list{
  background-color: #ffffff;
}

span.tile-header{
  font-size: 11px;
  color: #3f3f3f;

}

mat-card{
  padding:30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 150px;
  min-height: 80%;
}

mat-icon{
  height: 15px;

}

h4{
  margin-bottom: 16px;
  margin-top: 20px;
  font-weight: bold;
    font-size: 17px;
}
.desc{
margin-bottom: 40px;
}

.submit-btn{
  background-color:#5CB85C;
  color: white;
}
