
<ng-container  >



<app-top-nav *ngIf="title" [title]="title.title" [icon]="title.icon"></app-top-nav>


  <div>
    <mat-card appearance="outlined" >
      <div class="desc">
        <h2 style="    display: inline;"  >{{ 'support.incidentReportHome' | translate:configService.config }} </h2>
    </div>
      <div>
        {{ 'support.thisFormAllowsYouToReportAProblem' | translate:configService.config }}

        <br>
        <ul>
          <li>{{ 'support.yourBrowserIsUpToDate' | translate }}</li>
          <li>{{ 'support.youTriedThePageTestAudioSound' | translate }}</li>
        </ul>

        {{ 'support.pleaseFillUpThisForm' | translate:configService.config }}
        <br>

        <form >

          <div style="display:flex; margin-top:23px;">
            <div style="display: flex; flex-direction: column; flex:1;">
              <div>
                <label for="description" style="display: block;" >
                 <h4>{{ 'support.problemEncountered' | translate }}</h4>
                </label>

                <textarea [(ngModel)]="description"  name="description" id="description" cols="60" rows="5" placeholder="{{ 'support.plsProvideDetailsAboutTheProblems' | translate }}"></textarea>
              </div>
              <div>
                <label for="description" style="display: block;" >
                 <h4>{{ 'support.whatWasYouDoing' | translate }}</h4>
                </label>

                <textarea [(ngModel)]="lastActivity"  name="description" id="description" cols="60" rows="5" placeholder="{{ 'support.plsProvideDetailsOfWhat' | translate }}"></textarea>
              </div>
            </div>
            <div style="display: flex; flex-direction: column; flex:1;">
              <h4>{{ 'support.theFollowingInformation' | translate }}</h4>
              <ul>
                <li>{{ 'support.browserVersion' | translate }} {{userAgent}}</li>
                <li>{{ 'support.yourIpAddress' | translate }} {{ip}}</li>
                <li>{{ 'support.yourEmail' | translate }} {{currentUser.email}}</li>
              </ul>
            </div>


          </div>


          <button
          style="margin-top: 80px;"
          class="submit-btn"
          mat-button
          type="submit"
          (click)="sendSupportRequest()"
        > {{ 'support.send' | translate }} </button>
        </form>
      </div>
    </mat-card>
  </div>
</ng-container>
