<h2 mat-dialog-title *ngIf="appLiedFiltersCount">
    Filters applied:
    <app-badge [text]="appLiedFiltersCount">{{appLiedFiltersCount}}</app-badge>
</h2>
<h2 mat-dialog-title *ngIf="!appLiedFiltersCount">
    Filters
</h2>
<mat-dialog-content>
    <div class="accordion-wrapper">
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Queue
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let queue of queues; let i = index">
                    <mat-checkbox color="primary"
                                  [(ngModel)]="queue.selected">
                        <mat-label class="label">{{ queue.name }}</mat-label>
                    </mat-checkbox>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
        <div style="margin-top: 10px">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Created by
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-checkbox color="primary"
                                  [(ngModel)]="createdByMe">Me
                    </mat-checkbox>
                    <mat-checkbox color="primary"
                                  [(ngModel)]="createdByNotMe">Not me
                    </mat-checkbox>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="getSelectedFilters()">Apply</button>
</mat-dialog-actions>
