.nickname {
  background: rgba(58, 64, 74, 0.651);
  padding: 5px !important;
  position: absolute;
  z-index: 999;
}


video {
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#statusIcons {
  bottom: 0;
  width: 40px;
  height: fit-content;
  position: absolute;
}

#statusIcons ion-badge{
  margin: 2px;
}

#statusIcons ion-icon{
  font-size: 1.2em;
}

#fullscreenButton{
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: 1000;
  background-color: #000000c4;
}
#volumeButton{
  background-color: #000000c4;
  position: absolute;
  bottom: 45px;
  right: 1px;
  z-index: 1000;
}
/* Contains the video element, used to fix video letter-boxing */
.OT_widget-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #ffffff !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #d6d6d6d7 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field.mat-focused .mat-form-field-ripple{
  background-color: #f5f5f5c2 !important;
}


