
  .label {
    color: black;
  }


  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .title {
    text-align: center;
    margin-top: 0
  }

  .expert-link-wrapper {
    padding: 24px;

    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    button {
      display: block;
      width: 100%;
    }

    mat-icon {
      cursor: pointer;
    }

  }

