<div class="wrapper">
<mat-form-field style="width: 250px">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker" [matDatepickerFilter]="filterDates" [(ngModel)]="date" (dateChange)="onDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>Choose a time</mat-label>
    <input matInput  [matAutocomplete]="auto" [(ngModel)]="time" (ngModelChange)="onTimeChange($event)">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let timeOption of filteredTimes" [value]="timeOption">
            {{ timeOption }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
</div>
