span.tile-header {
  font-size: 11px;
  color: #3f3f3f;
}

.consultations-wrapper {
  margin: 60px 30px 30px 30px;

  @media (max-width: 600px) {
    margin: 30px 10px;
  }
}

.filters-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;

  @media (max-width: 600px) {
    margin-top: 20px;
    justify-content: flex-start;
  }

  .filter-icon {
    width: 18px;
  }
}

.pdf-table {
  margin: auto;
  font-size: 40px;
  width: 60%;

  tr {
    border-bottom: 1px solid #b1b1b191;

    height: 143px;
  }

  th,
  td {
    margin: 10px auto;
    border-bottom: 1px solid #b1b1b191;
    padding: 16px;
  }

  tr:first-child > th,
  tr:first-child > td {
    border-top: 1px solid #b1b1b191;
  }

  th {
    margin-right: 20px;
    width: 503px;
    border-left: 1px solid #b1b1b191;
    border-right: 1px solid #b1b1b191;
  }

  td {
    border-right: 1px solid #b1b1b191;
  }
}

.noCon {
  margin-left: 80px;
}

.consultations {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border-collapse: collapse;
  background: var(--app-white);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  tr:not(.empty-row) {
    cursor: pointer;
  }

  tr {
    border-top: 1px solid #b1b1b191;
    border-left: 2px solid #fff;

    &:hover:not(.empty-row) {
      border-left: 2px solid var(--primary-color);
    }
  }

  @media screen and (max-width: 600px) {
    .hidden-mobile {
      display: none;
    }
  }

  td {
    padding: 18px 1%;
  }

  .tile-header {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .badge {
    position: relative;
    top: 9px;
    left: 11px;
  }

  .pdf {
    width: 40px;
    padding: 12px 12px;
  }

  td.online-status-cell {
    width: 60px;
  }
}
