.header {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-white);
  border-bottom: 1px solid rgb(209, 209, 209);
}

.header-items {
  gap: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terminate-consultation {
  height: 100%;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  color: var(--app-white);
  background-color: var(--app-red);


  @media (max-width: 600px) {
    font-size: 12px;
  }
}

#user {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;

  @media (max-width: 600px) {
    font-size: 12px;
  }

  mat-icon {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    display: inline-flex;
    height: 28px;
    padding-bottom: 4px;
    width: 28px;
  }

  .items {
    left: 0;
    width: 100%;
    height: 140px;
    bottom: -159px;
    position: absolute;

    div {
      height: 70px;
      background: var(--app-white);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid #e4e4e4;
    }

    .logout {
      color: var(--app-white);
      background: var(--app-red);
    }
  }
}


.new-consultation {
  gap: 4px;
  display: flex;
  cursor: pointer;
  color: #000000de;
  text-align: right;
  align-items: center;
  background: transparent;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 24px;
  }
}

.user-wrapper {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
