<div class="header">
  <button class="menu" mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="header-items">
    <div
      class="new-consultation"
      (click)="openNurse()"
      *ngIf="configService?.config?.doctorExternalLink">
      <span>{{ 'topNav.new_consultation_form' | translate }}</span>
      <mat-icon svgIcon="in-new-tab"></mat-icon>
    </div>

    <div *ngIf="showCloseConsBtn" (click)="showCloseModal()" class="terminate-consultation">
      {{ 'topNav.terminateTheConsultation' | translate }}
    </div>

    <div class="user-wrapper" (click)="toggleLogout()">
      <div [ngClass]="{ 'doc-btn': logoutToggle }" id="user">
        <mat-icon svgIcon="stat"></mat-icon>
        {{ currentUser.firstName + ' ' + currentUser.lastName }}
        <div class="items" *ngIf="logoutToggle">
          <div routerLink="/profile">
            <mat-icon svgIcon="stat"></mat-icon>
            {{ 'topNav.profile' | translate }}
          </div>
          <div class="logout" (click)="logout()">
            <mat-icon svgIcon="logout"></mat-icon>
            {{ 'topNav.logout' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
