<ng-container>
  <div class="wrap">
    <div class="container">
      <div class="at">
        <img
          class="logo"
          *ngIf="configService.config.logo"
          [src]="configService.config.logo"
          alt="@"
        />
        <span *ngIf="!configService.config.logo">{{
          configService.config.branding
        }}</span>
      </div>

      <p id="saml-login" *ngIf="showSamlLogin">
        <a [href]="samlLoginUrl" class="redirect-btn" mat-button>
          {{ "login.institutionalConnection" | translate }}
        </a>
      </p>

      <form
        *ngIf="!localLoginToken && showPasswordLogin"
        (submit)="loginLocal()"
        [class.separated]="showSamlLogin"
      >
        <h4 class="login-local-header">
          {{ "login.loginWithALocalAccount" | translate }}
        </h4>
        <mat-form-field class="example-full-width">
          <input
            [(ngModel)]="email"
            matInput
            placeholder="{{ 'login.emailAddress' | translate }}"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />

          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            {{ "login.pleaseProvideAValidEmail" | translate }}
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            {{ "login.email" | translate }}
            <strong>{{ "login.required" | translate }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            [(ngModel)]="password"
            matInput
            placeholder="{{ 'login.password' | translate }}"
            type="password"
            [formControl]="passwordFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            {{ "login.password" | translate }}
            <strong>{{ "login.required" | translate }}</strong>
          </mat-error>
        </mat-form-field>

        <button class="submit-btn" mat-button type="submit">
          {{ "login.login" | translate }}
        </button>

        <div class="row center">
          <a class="white-link" routerLink="/forgot-password">{{
            "login.iForgotMyPassword" | translate
          }}</a>
        </div>

        <app-select-language></app-select-language>
      </form>
      <form *ngIf="localLoginToken" (submit)="loginSms()" class="example-form">
        <h4>{{ "login.pleaseFillUpTheRecievedSMS" | translate }}</h4>
        <div class="code-input-wrapper">
          <mat-form-field>
            <input
              [(ngModel)]="smsVerificationCode"
              matInput
              placeholder="{{ 'login.verificationCode' | translate }}"
              [formControl]="codeFormControl"
              [errorStateMatcher]="matcher"
              name="verificationCode"
            />

            <mat-error *ngIf="codeFormControl.hasError('required')">
              {{ "login.verificationCode" | translate }}
              <strong>{{ "login.required" | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <button class="submit-btn" mat-button type="submit">
          {{ "login.send" | translate }}
        </button>
      </form>

      <button
        *ngIf="localLoginToken"
        (click)="loginLocal()"
        class="resend-btn"
        mat-button
      >
        {{ "login.sendCodeAgain" | translate }}
      </button>
      <div class="error--loading">
        <div *ngIf="loading" class="loading">
          <mat-spinner [diameter]="35"></mat-spinner>
        </div>

        <div *ngIf="error" class="error">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>
