.image-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  .icon {
    width: 28px;
  }
}

.error-message {
  font-size: 18px;
  font-style: normal;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}
