.center {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  background: #fafafa;
  justify-content: center;
}

.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  border-radius: 5px;
  background-color: #fff;
}

::ng-deep {
  html[data-theme="accessibility"] {
    .wrap {
      background-image: unset !important;
    }
  }
}

.container {
  width: 70%;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 30px auto;

}

.custom-card {
  width: 80%;
  height: 80%;
  @media (max-width: 598px) {
    height: 100%;
    width: 100%;
  }
}

markdown ::ng-deep {
  a {
    color: var(--primary-color);
  }
}

.title {
  text-align: center;
  font-size: 1.2em;
}

.back {
  display: block;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 92%;
  }
  .title {
    margin: 40px auto 40px;
  }
  table {
    td {
      padding: 4px;
    }
  }
}

.btn__send {
  background-color: var(--primary-color);
  color: var(--app-white);
}

.fixed-container {
  //top: 10px;
  //position: sticky;
}


.scrollable-container {
  overflow: auto;
  position: relative;
  height: calc(100% - 288px);

}

.country-select {
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .sl-container {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .lang {
    background-color: #FFFFFF;
    outline: none;
    border: 0;
  }

}
