<ng-container *ngIf="data.status !== 'ACCEPTED'">
  <div *ngIf="!myForm" class="invite-type-container" id="invite-type-container">
    <div class="invite-type-header">
      <h1 class="d-block" mat-dialog-title>
        {{ 'inviteForm.sendAnInvitation' | translate }}
      </h1>
    </div>

    <div class="invite-type-content">
      <div class="invite-form interpreter__form">
        <h4>{{ 'inviteForm.patientTeleConsultation' | translate }}</h4>
        <p>
          {{ 'inviteForm.patientTeleConsultationDescription' | translate }}
        </p>
        <button
          [disabled]="loading"
          (click)="showPatientForm()"
          color="primary"
          tourAnchor="{{ TourType.REMOTE_PATIENT_INVITE }}"
          mat-flat-button>
          {{ 'inviteForm.invite' | translate }}
        </button>
      </div>
      <div class="invite-form interpreter__form">
        <h4>{{ 'inviteForm.thirdPartyConsultation' | translate }}</h4>
        <p>
          {{ 'inviteForm.thirdPartyConsultationDescription' | translate }}
        </p>
        <button
          [disabled]="loading"
          (click)="showTierFrom()"
          color="primary"
          mat-flat-button>
          {{ 'inviteForm.invite' | translate }}
        </button>
      </div>
    </div>
  </div>

  <form *ngIf="myForm" [formGroup]="myForm">
    <div class="form-container">
      <div class="invite-form patient__form">
        <h1 class="d-block" *ngIf="isPatientInvite" mat-dialog-title>
          {{ 'inviteForm.invitationPatient' | translate }}
        </h1>
        <h1 class="d-block" *ngIf="!isPatientInvite" mat-dialog-title>
          {{ 'inviteForm.invitationThirdParty' | translate }}
        </h1>
        <div mat-dialog-content class="dialog-content">
          <div *ngIf="!isPatientInvite" class="on-premise-container">
            <p
              [innerHTML]="
                'inviteForm.consultationWillBeOnPremise' | translate
              "></p>
          </div>

          <div *ngIf="isPatientInvite" class="field-container">
            @if (isFieldEnabled('firstName')) {
              <mat-form-field>
                <mat-label class="label">
                  {{ 'inviteForm.firstName' | translate }}
                </mat-label>
                <input
                  [(ngModel)]="data.firstName"
                  matInput
                  placeholder="Enter patient first name"
                  formControlName="firstNameFormControl"
                  [errorStateMatcher]="matcher" />
                <mat-error
                  *ngIf="
                    myForm.controls.firstNameFormControl.hasError('required')
                  "
                  [innerHTML]="
                    'inviteForm.firstNameIsRequired' | translate
                  "></mat-error>
              </mat-form-field>
            }

            @if (isFieldEnabled('lastName')) {
              <mat-form-field>
                <mat-label class="label">
                  {{ 'inviteForm.lastName' | translate }}
                </mat-label>
                <input
                  [(ngModel)]="data.lastName"
                  matInput
                  placeholder="Enter patient last name"
                  formControlName="lastNameFormControl"
                  [errorStateMatcher]="matcher" />

                <mat-error
                  *ngIf="
                    myForm.controls.lastNameFormControl.hasError('required')
                  "
                  [innerHTML]="
                    'inviteForm.lastNameIsRequired' | translate
                  "></mat-error>
              </mat-form-field>
            }
          </div>

          <div *ngIf="isPatientInvite" class="field-container">
            @if (isFieldEnabled('gender')) {
              <mat-form-field>
                <mat-label class="label">
                  {{ 'inviteForm.sex' | translate }}
                </mat-label>
                <mat-select
                  formControlName="genderFormControl"
                  [(ngModel)]="data.gender"
                  [errorStateMatcher]="matcher">
                  <mat-option>--</mat-option>
                  <mat-option value="male">
                    {{ 'inviteForm.male' | translate }}
                  </mat-option>
                  <mat-option value="female">
                    {{ 'inviteForm.female' | translate }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    myForm.controls.genderFormControl.hasError('required')
                  ">
                  {{ 'inviteForm.pleaseChooseTheSex' | translate }}
                </mat-error>
              </mat-form-field>
            }

            <mat-form-field>
              <mat-label class="label">
                {{ 'inviteForm.language' | translate }}
              </mat-label>
              <mat-select
                formControlName="languageFormControl"
                required
                [(ngModel)]="data.language"
                [errorStateMatcher]="matcher"
                (selectionChange)="languageSelectChanged()">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let lang of languages" [value]="lang.code">
                  {{ lang.translated }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  myForm.controls.languageFormControl.hasError('required')
                ">
                {{ 'inviteForm.pleaseChooseLanguage' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          @if (configService.config?.formMeta?.length) {
            <div class="field-container flex-column justify-content-start">
              @for (field of configService.config.formMeta; track field) {
                <mat-form-field
                  appearance="fill"
                  *ngIf="myForm.get(field)"
                  class="w-100">
                  <mat-label>
                    {{
                      ('metadata.' + field | translate) !== 'metadata.' + field
                        ? ('metadata.' + field | translate)
                        : field
                    }}
                  </mat-label>
                  <input matInput [formControlName]="field" />
                </mat-form-field>
              }
            </div>
          }

          <div *ngIf="isPatientInvite" class="field-container">
            <mat-form-field *ngIf="queues?.length > 0">
              <mat-label class="label">
                {{ 'inviteForm.waitingQueue' | translate }}
              </mat-label>
              <mat-select
                formControlName="queueFormControl"
                [(ngModel)]="data.queue"
                [errorStateMatcher]="matcher">
                <mat-option [value]="undefined">
                  {{ 'inviteForm.mySelf' | translate }}
                </mat-option>
                <span>
                  <mat-option *ngFor="let queue of queues" [value]="queue.id">
                    {{ queue.name }}
                  </mat-option>
                </span>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="isPatientInvite" class="field-container">
            <div
              class="field-container-inner"
              tourAnchor="{{ TourType.INVITE_FORM_CONTACT_INPUT }}">
              <mat-form-field>
                <mat-label class="label">
                  {{
                    'inviteForm.pleaseOnlyFillUpAnEmailOrAnMobilePhoneNumberEx'
                      | translate
                  }}
                </mat-label>
                <input
                  [(ngModel)]="data.patientContact"
                  matInput
                  placeholder="+4179..."
                  formControlName="patientContactFormControl"
                  name="patientContact"
                  (ngModelChange)="changeTel()" />

                <mat-hint class="success-message" *ngIf="showSuccessMessage">
                  {{ showSuccessMessage }}
                </mat-hint>
                <mat-error
                  *ngIf="
                    myForm.controls?.patientContactFormControl.hasError(
                      'emailOrPhoneControl'
                    )
                  ">
                  {{
                    'inviteForm.pleaseEnterValidEmailOrPhoneNumber' | translate
                  }}
                </mat-error>
                <mat-error
                  *ngIf="
                    myForm.controls?.patientContactFormControl.hasError(
                      'required'
                    )
                  ">
                  {{
                    'inviteForm.pleaseOnlyFillUpAnEmailOrAnMobilePhoneNumber'
                      | translate
                  }}
                </mat-error>
                <mat-error
                  *ngIf="
                    myForm.controls?.patientContactFormControl.hasError('email')
                  ">
                  {{ 'inviteForm.invalidEmailAddress' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="
                    myForm.controls?.patientContactFormControl.hasError(
                      'cantSend'
                    )
                  ">
                  {{ 'inviteForm.notPermitted' | translate }}
                </mat-error>
              </mat-form-field>

              <mat-radio-group
                formControlName="messageService"
                class="provider-radio-group"
                *ngIf="showRadioGroup">
                <mat-radio-button value="1">
                  {{ 'profile.whatsapp' | translate }}
                </mat-radio-button>
                <mat-radio-button value="2">
                  {{ 'profile.sms' | translate }}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error
                class="form-error"
                *ngIf="myForm.controls?.messageService?.hasError('required')">
                {{ 'inviteForm.required' | translate }}
              </mat-error>
            </div>
          </div>

          <ng-container *ngIf="isPatientInvite">
            <div class="field-container">
              <mat-checkbox
                formControlName="sendLinkManually"
                tourAnchor="{{
                  TourType.INVITE_FORM_SEND_LINK_MANUALLY_INPUT
                }}">
                {{ 'inviteForm.sendLinkManually' | translate }}
              </mat-checkbox>
            </div>
          </ng-container>

          <div class="field-container" style="max-width: 400px">
            <mat-error *ngIf="!schedule && inviteTranslator">
              {{ 'inviteForm.warningTranslatorMightBeLate' | translate }}
            </mat-error>
          </div>

          <div class="field-container">
            <mat-checkbox formControlName="isScheduled" [(ngModel)]="schedule">
              {{ 'inviteForm.schedulingLater' | translate }}
            </mat-checkbox>
          </div>

          <div class="field-container flex-column mt-14">
            <ng-container *ngIf="schedule">
              <mat-label class="label">
                {{ 'inviteForm.scheduledAt' | translate }}
              </mat-label>

              <app-date-time-picker
                [date]="data.scheduledFor"
                [selectedTimezone]="selectedTimezone"
                (timeZoneSelected)="onTimeZoneSelect($event)"
                (dateTimeSelected)="
                  onDateTimeSelected($event)
                "></app-date-time-picker>
            </ng-container>
          </div>
          <div *ngIf="error" class="error">
            {{ error }}
          </div>
        </div>
        <div *ngIf="loading" class="loading">
          <mat-spinner [diameter]="35"></mat-spinner>
        </div>
      </div>

      <div class="invite-form interpreter__form">
        <h1 mat-dialog-title class="d-block">
          {{ 'inviteForm.guests' | translate }}
        </h1>
        <div mat-dialog-content class="dialog-content">
          <div class="field-container mt-14">
            <mat-checkbox
              formControlName="inviteGuestFormControl"
              [(ngModel)]="inviteGuest"
              (ngModelChange)="
                myForm.get('guestContactFormControl')?.updateValueAndValidity()
              ">
              {{ 'inviteForm.inviteLovedOneOrProfessional' | translate }}
            </mat-checkbox>
          </div>
          <div *ngIf="inviteGuest" class="field-container">
            <mat-form-field>
              <mat-label class="label">
                {{ 'inviteForm.emailOrSMS' | translate }}
              </mat-label>
              <input
                [(ngModel)]="data.guestContact"
                matInput
                [placeholder]="'inviteForm.emailOrSMS' | translate"
                formControlName="guestContactFormControl"
                [errorStateMatcher]="matcher" />

              <mat-hint class="success-message" *ngIf="showGuestSuccessMessage">
                {{ showGuestSuccessMessage }}
              </mat-hint>
              <mat-error
                *ngIf="
                  myForm.controls?.guestContactFormControl.hasError(
                    'emailOrPhoneControl'
                  )
                ">
                {{
                  'inviteForm.pleaseEnterValidEmailOrPhoneNumber' | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  myForm.controls?.guestContactFormControl.hasError('required')
                ">
                {{
                  'inviteForm.pleaseOnlyFillUpAnEmailOrAnMobilePhoneNumber'
                    | translate
                }}
              </mat-error>
              <mat-error
                *ngIf="
                  myForm.controls?.guestContactFormControl.hasError('email')
                ">
                {{ 'inviteForm.invalidEmailAddress' | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  myForm.controls?.guestContactFormControl.hasError('cantSend')
                ">
                {{ 'inviteForm.notPermitted' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <mat-radio-group
            formControlName="guestContactMessageService"
            class="provider-radio-group"
            *ngIf="showGuestRadioGroup">
            <mat-radio-button value="1">
              {{ 'profile.whatsapp' | translate }}
            </mat-radio-button>
            <mat-radio-button value="2">
              {{ 'profile.sms' | translate }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error
            class="form-error"
            *ngIf="
              myForm.controls?.guestContactMessageService?.hasError('required')
            ">
            {{ 'inviteForm.required' | translate }}
          </mat-error>

          <div class="field-container mt-14">
            <mat-checkbox formControlName="inviteExpert">
              {{ 'inviteForm.inviteExpert' | translate }}
            </mat-checkbox>
          </div>
          <div
            *ngIf="myForm.controls.inviteExpert.value"
            class="field-container">
            <div class="experts-wrapper">
              <div formArrayName="experts">
                <div
                  *ngFor="
                    let expertControl of expertsFormArray.controls;
                    let i = index
                  "
                  class="expert-field">
                  <ng-container [formGroupName]="i">
                    <div
                      class="w-100 d-flex justify-content-between align-items-center gap-10">
                      <mat-form-field class="w-100">
                        <mat-label>
                          {{ 'inviteForm.emailOrSMS' | translate }}
                        </mat-label>
                        <input
                          matInput
                          formControlName="expertContact"
                          [placeholder]="'inviteForm.emailOrSMS' | translate" />
                        <mat-hint
                          class="success-message"
                          *ngIf="
                            expertControl.controls.showSuccessMessage.value
                          ">
                          {{ expertControl.controls.showSuccessMessage.value }}
                        </mat-hint>
                        <mat-error
                          *ngIf="
                            expertControl.controls.expertContact.hasError(
                              'email'
                            )
                          ">
                          {{ 'inviteForm.invalidEmailAddress' | translate }}
                        </mat-error>
                        <mat-error
                          *ngIf="
                            expertControl.controls.expertContact.hasError(
                              'cantSend'
                            )
                          ">
                          {{ 'inviteForm.notPermitted' | translate }}
                        </mat-error>
                        <mat-error
                          *ngIf="
                            expertControl.controls.expertContact.hasError(
                              'emailOrPhoneControl'
                            )
                          ">
                          {{
                            'inviteForm.pleaseEnterValidEmailOrPhoneNumber'
                              | translate
                          }}
                        </mat-error>
                        <mat-error
                          *ngIf="
                            expertControl.controls.expertContact.hasError(
                              'required'
                            )
                          ">
                          {{
                            'inviteForm.pleaseOnlyFillUpAnEmailOrAnMobilePhoneNumber'
                              | translate
                          }}
                        </mat-error>
                      </mat-form-field>

                      <button
                        mat-flat-button
                        color="warn"
                        *ngIf="i > 0"
                        (click)="removeExpert(i)">
                        {{ 'inviteForm.remove' | translate }}
                      </button>
                    </div>
                    <div
                      *ngIf="expertControl.controls.showRadioGroup.value"
                      class="d-flex justify-content-center">
                      <mat-radio-group
                        formControlName="messageService"
                        class="provider-radio-group">
                        <mat-radio-button value="1">
                          {{ 'profile.whatsapp' | translate }}
                        </mat-radio-button>
                        <mat-radio-button value="2">
                          {{ 'profile.sms' | translate }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <mat-error
                      class="radio-group-error"
                      *ngIf="
                        expertControl.controls.messageService.hasError(
                          'required'
                        )
                      ">
                      {{ 'inviteForm.required' | translate }}
                    </mat-error>
                  </ng-container>
                </div>
              </div>
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="addExpert()">
                {{ 'inviteForm.anotherExpert' | translate }}
              </button>
            </div>
          </div>

          <div *ngIf="false" class="field-container mt-14">
            <mat-checkbox
              formControlName="inviteTranslatorFormControl"
              [(ngModel)]="inviteTranslator">
              {{ 'inviteForm.inviteTranslator' | translate }}
            </mat-checkbox>
          </div>
          <ng-container
            *ngIf="
              inviteTranslator &&
              this.translate.currentLang !== this.data.language
            ">
            <div class="field-container mt-14">
              <mat-form-field>
                <mat-label class="label">
                  {{ 'inviteForm.translationOrganization' | translate }}
                </mat-label>
                <mat-select
                  formControlName="translationOrganizationFormControl"
                  [(ngModel)]="data.translationOrganization"
                  [errorStateMatcher]="matcher">
                  <mat-option>--</mat-option>
                  <ng-container
                    *ngFor="
                      let translationOrganization of translationOrganizations
                    ">
                    <mat-option
                      *ngIf="
                        (translationOrganization.languages || []).indexOf(
                          this.data.language
                        ) !== -1
                      "
                      [value]="translationOrganization.id">
                      <span>
                        {{ translationOrganization.name }}
                      </span>
                    </mat-option>
                  </ng-container>
                </mat-select>
                <mat-error
                  *ngIf="
                    myForm.controls.translationOrganizationFormControl.hasError(
                      'required'
                    )
                  ">
                  {{ 'inviteForm.pleaseChooseOrganization' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="field-container">
              <mat-error *ngIf="inviteTranslator" style="max-width: 285px">
                {{
                  'inviteForm.patientInvitationWillBeAfterTranslatorIsValidated'
                    | translate
                }}
              </mat-error>
            </div>
          </ng-container>
          <mat-error
            class="field-container"
            *ngIf="myForm.hasError('atLeastAGuestOrTranslator')">
            {{ 'inviteForm.atLeastInviteGuestOrTranslator' | translate }}
          </mat-error>
        </div>
      </div>
    </div>
    <div class="submit__section">
      <div mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="onNoClick()"
          type="button">
          {{ 'inviteForm.cancel' | translate }}
        </button>
        <button
          [disabled]="loading"
          type="submit"
          color="primary"
          (click)="onSubmit()"
          mat-flat-button>
          <ng-container *ngIf="edit">
            {{ 'inviteForm.update' | translate }}
          </ng-container>
          <ng-container *ngIf="!edit">
            {{ 'inviteForm.send' | translate }}
          </ng-container>
        </button>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="data.status === 'ACCEPTED'">
  <div class="accepted-invite-error">
    <div class="error">
      {{ 'inviteForm.cantUpdateAcceptedInvite' | translate }}
    </div>
  </div>
</ng-container>
