
.container {
  height: 100%;
  width: 100%;
}

.sidenav {
  z-index: 9 !important;
  width: 100px;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 250px;
  }

  mat-sidenav.opened {
    display: block;
  }
}

.main-logo-wrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.main-logo {
  max-width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.at {
  margin: 16px;
  font-size: 30px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
}
.at > span {
  display: block;
  font-size: 12px;
}

.menu-list {
}

.mat-list-base {
  padding-top: 0 !important;
}

.list-item {
  margin: 0;
  padding-top: 0 !important;
  height: 99px !important;
}

mat-list-item,
.menu-btn {
  padding-left: 4px;
  padding-right: 4px;
  // padding-top: 10px !important;

  margin: 0;
  // padding: 0;
  width: 100%;
  border-radius: 0;
}
.menu-btn {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  height: 100%;
}
mat-list-item:nth-child(2) .menu-btn {
  padding-left: 10px;
  padding-right: 10px;
}

mat-list-item:nth-child(1) .menu-btn {
  padding-left: 10px;
  padding-right: 10px;
}

// mat-list-item{
//   padding:14px 0 14px 0px !important;
// }
span.btn-text {
  width: 80%;
  margin: auto;
  font-size: 11px;
  white-space: normal;
  display: block;
  word-wrap: break-word;
  line-height: 1.2;
}
.menu-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

mat-toolbar {
  background-color: white !important;
}
.header {
  border-bottom: 1px solid rgb(209, 209, 209);
  margin: 10px 0 10px 0;
}

.header h3 {
  font-size: 1.3em;
  padding-top: 18px;
  padding-left: 20px;
  font-weight: 500;
}

button.active {
  background-color: var(--primary-color);
  color: #ffffff;
}

mat-list-item {
  margin-bottom: 8px;
}
.logo {
  width: 50px;
  max-width: 100% !important;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
