.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000de;
  margin: 2px;
  position: relative;
}

// Keyframes for bottom dot animation
@keyframes moveBottomDot {
  0%, 100% { transform: scale(1, 1);
    opacity: 0.9; }
  50% {     transform: scale(0.4, 0.4);
    opacity: 0.3; }

  100% {
    transform: scale(1, 1);
    opacity: 0.9;
  }
}


.dot-bottom {
  animation: 1s linear 0s infinite normal none running moveBottomDot;
}

