<ng-container>
  <app-top-nav
    [title]="'dashboard.dashboard' | translate"
    [icon]="'dashboard'"
  ></app-top-nav>

  <app-overlay
    (close)="chatOpen = false"
    *ngIf="chatOpen"
    [consultation]="currentConsultation"
  >
  </app-overlay>
  <div style="margin-top: 110px" class="cards-container">
    <mat-card class="card-left">
      <div class="desc">
        <h2>
          {{ "dashboard.waitingRoom" | translate }}
        </h2>
        <p>
          {{ "dashboard.consultationsListInAwaitingTreatment" | translate }}
        </p>
      </div>
      <button
        *ngIf="pendingConsultations.length"
        (click)="acceptNextConsultation()"
        class="next-con-btn"
        mat-button
      >
        {{ "dashboard.startNextConsultation" | translate }}
      </button>
      <h4 class="noCon" *ngIf="!pendingConsultations.length">
        {{ "dashboard.noConsultation" | translate }}
      </h4>

        <button *ngIf="!pendingConsultations.length"
                (click)="openDialog()"
                class="invite-btn"
                mat-button
                type="submit"
                color="primary">
            {{ "dashboard.sendNewInvite" | translate }}
        </button>

      <table *ngIf="pendingConsultations.length" class="pending-consultations">
        <tr *ngFor="let pc of pendingConsultations" (click)="showChat(pc._id)">
          <td>
            <span class="tile-header">{{
              "dashboard.patient" | translate
            }}</span>
            {{ pc.consultation.firstName + " " + pc.consultation.lastName }}
          </td>
          <td>
            <span class="tile-header">{{
              "dashboard.message" | translate
            }}</span>
            {{ pc.lastMsg ? pc.lastMsg.text : "Nouvelle consultation" }}
          </td>
          <td>
            <span class="tile-header">{{ "dashboard.time" | translate }}</span>
            {{
              (pc.lastMsg ? pc.lastMsg.createdAt : pc.consultation.createdAt)
                | msgTime
            }}
          </td>
        </tr>
      </table>

      <button
        *ngIf="pendingConsultations.length"
        routerLink="/pending-consultations"
        mat-button
        class="view-more-btn"
      >
        {{ "dashboard.displayTheList" | translate }}
      </button>
      <mat-icon
        *ngIf="pendingConsultationsCount"
        class="badge total-badge"
        [matBadge]="pendingConsultationsCount"
        matBadgeColor="warn"
      ></mat-icon>
    </mat-card>

    <mat-card class="card-right">
      <div class="desc">
        <h2>{{ "dashboard.openedConsultations" | translate }}</h2>
        <p>
          {{
            "dashboard.consultationsListAwaitingToBeClosedOrCompleted"
              | translate
          }}
        </p>
      </div>

      <div
        *ngIf="activeConsultations.length"
        style="height: 36px; margin: 20px; width: 200px"
      ></div>

      <h4 class="noCon" *ngIf="!activeConsultations.length">
        {{ "dashboard.noConsultation" | translate }}
      </h4>

      <table *ngIf="activeConsultations.length" class="active-consultations">
        <tr *ngFor="let ac of activeConsultations" (click)="showChat(ac._id)">
          <td>
            <span class="tile-header">{{
              "dashboard.patient" | translate
            }}</span>
            {{ ac.consultation.firstName + " " + ac.consultation.lastName }}
          </td>
          <td>
            <span class="tile-header">{{ "dashboard.time" | translate }}</span>
            {{
              (ac.lastMsg ? ac.lastMsg.createdAt : ac.consultation.createdAt)
                | msgTime
            }}
          </td>
          <td class="unread">
            <mat-icon
              *ngIf="ac.unreadCount"
              class="badge"
              matBadgePosition="before"
              [matBadge]="ac.unreadCount"
              matBadgeColor="warn"
            ></mat-icon>
          </td>
          <td class="arrow">
            <mat-icon svgIcon="next"></mat-icon>
          </td>
        </tr>
      </table>

      <button
        *ngIf="activeConsultations.length"
        routerLink="/active-consultations"
        mat-button
        class="view-more-btn"
      >
        {{ "dashboard.displayTheList" | translate }}
      </button>
      <mat-icon
        class="badge total-badge"
        [matBadge]="activeConsultationsCount"
        matBadgeColor="warn"
      ></mat-icon>
    </mat-card>
  </div>
</ng-container>
