.auth-page {
  display: flex;
  min-height: 100vh;

  .banner {
    width: 44%;
    max-width: 623px;
    background-size: cover;
    background-position: bottom;
    background-image: url("/assets/bg-splash@2x.png");
  }

  .auth-main {
    flex-grow: 1;
  }
}

.example-form {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  text-align: center;

  h4 {
    margin: 10px;
    font-size: 21px;
    font-weight: 400;
  }
}

.example-full-width {
  width: 100%;
}

.example-full-width input {
  height: 100%;
}
.container {
  width: 400px;
  margin: auto;

  @media (max-width: 600px) {
    margin: 30px;
  }

}

.at {
  margin: 16px;
  margin-bottom: 63px;
  font-size: 48px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 800;
}
.at > span {
  display: block;
  font-size: 16px;
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


h4 {
  text-align: center;
  margin-bottom: -10px;
  color: var(--primary-color);
}

.loading {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  margin-top: 28px;
  color: rgb(255, 45, 45);
  text-align: center;
}


.error--loading {
  margin-top: 20px;
  min-height: 80px;
}

.code-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.row {
    margin: 10px;
}

.center {
    text-align: center;
}

.description {
    color: var(--primary-color);
}

.back-to-login-link {
    display: inline-block;
    color: var(--primary-color);
    opacity: 0.8;
}

.success {
    background-color: white;
    padding: 30px;
    color:  var(--primary-color);
}
