<h1 mat-dialog-title>
  {{ 'webviewWarning.title' | translate }}
</h1>
<div mat-dialog-content>
  <div class="warning-icon">
    <mat-icon color="warn">warning</mat-icon>
  </div>
  <p class="warning-message">{{ 'webviewWarning.message' | translate }}</p>
  <p class="warning-description">{{ 'webviewWarning.description' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="openInBrowser()">
    {{ 'webviewWarning.openInBrowser' | translate }}
  </button>
</div>
