@import "assets/fonts/fonts";
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}


.capitalize {
  text-transform: uppercase;
}

img {
  image-orientation: from-image;
}

.pagination-control {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.list-card {
  margin-bottom: 28px;
}

.red-snackbar {
  background: #b00020 !important;
}

img.logo {
  max-width: 200px;
  height: auto;
}

.w-100 {
  width: 100%;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-40 {
  margin-left: 40px;
}


.pagination-control ul > li.current {
  background-color: var(--primary-color);
}

.mat-mdc-progress-spinner circle, .mat-mdc-progress-spinner circle {
  stroke: var(--primary-color)
}

.mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
}

.secondary-button-outlined {
  border-radius: 50px !important;
  border: 1px solid #737373 !important;
  box-shadow: none !important;
}

.primary-button {
  border-radius: 50px !important;
  box-shadow: none !important;
}

.cdk-overlay-pane {
  width: auto !important;
  height: auto !important;
  max-width: 90vw !important;
  overflow-y: auto !important;
}

.mat-mdc-button:not(:disabled) {
  color: var(--app-white);
}
